@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

.display{
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.head-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #dadada;
}

.display .logo {
    width: 300px;
    margin-top: 50px;
}

h1{
    font-size: 30px;
    color:#1c3f60;

}
.display .botao-gap{
    display: flex;
    gap: 20px;
}

.botao-motor{
    font-family: "Oswald", sans-serif;
    height: 70px;
    width: 200px;
    font-size: 32px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    border: none;
}
