.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 10px; /* Adicionado para evitar cortes em telas pequenas */
}

.loginContainer h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
    text-align: center; /* Garante que o título fique centralizado em telas menores */
}

.loginContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.loginContainer form div {
    width: 100%;
    margin-bottom: 20px;
}

.loginContainer form label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

.loginContainer form input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.loginContainer form input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.loginContainer form button {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loginContainer form button:hover {
    background-color: #0056b3;
}

.loginContainer .error {
    color: red;
    font-size: 1rem;
    margin-top: -10px;
    margin-bottom: 20px;
}

/* Media queries para telas menores */
@media (max-width: 768px) {
    .loginContainer h1 {
        font-size: 2rem; /* Reduzindo o tamanho do título em telas menores */
    }

    .loginContainer form {
        padding: 15px; /* Reduzindo o padding para telas menores */
        max-width: 90%; /* Diminuindo a largura máxima do form */
    }

    .loginContainer form button {
        font-size: 1rem; /* Ajustando o tamanho da fonte no botão */
        padding: 10px;
    }

    .loginContainer form input {
        font-size: 0.9rem; /* Reduzindo um pouco o tamanho da fonte nos inputs */
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .loginContainer h1 {
        font-size: 1.8rem; /* Mais ajuste para telas muito pequenas */
    }

    .loginContainer form {
        padding: 10px; /* Ajuste de padding para telas pequenas */
        max-width: 100%; /* Deixar o form ocupar quase toda a tela */
    }

    .loginContainer form button {
        font-size: 0.9rem; /* Reduzindo mais o tamanho da fonte do botão */
        padding: 8px;
    }

    .loginContainer form input {
        font-size: 0.8rem; /* Reduzindo mais o tamanho da fonte dos inputs */
        padding: 7px;
    }
}
